<div id="main">
    <ng-container *ngIf="currentQuiz$ | async as current">
        <ng-container *ngIf="solvingState$ | async as solvingState">
            <div name="quizDesc" [id]="solvingState === 1 ? 'quizDesc': 'quizDescAns'" class="quizDesc">
                <div>Q. {{decodeHtmlEntities(current.question)}}</div>
                <div>Category: "{{decodeHtmlEntities(current.category)}}"</div>
            </div>
            <div *ngFor="let c of (current.type === 'multiple' ? [0, 1, 2, 3] : [0, 1])"
                (click)="solvingState === 1 ? checkAnswer(c) : null" [ngStyle]="getPosition(c)"
                [ngClass]="{
                    'quizMulti': current.type === 'multiple' && solvingState === 1,
                    'quizBool': current.type === 'boolean' && solvingState === 1,
                    'quizMultiR': current.type === 'multiple' && solvingState === 2,
                    'quizBoolR': current.type === 'boolean' && solvingState === 2
                }">
                {{getChoice(c)}}
            </div>
            <div id="toNext" (click)="nextState()" [ngStyle]="solvingState === 1 ? {display: 'none'} : null">
                다음으로
            </div>
        </ng-container>
    </ng-container>
</div>